{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
    <style>
        .login-form .form-control {
            background: #f7f7f7 none repeat scroll 0 0;
            border: 1px solid #d4d4d4;
            border-radius: 4px;
            font-size: 14px;
            height: 50px;
            line-height: 50px;
        }

        .main-div {
            background: #ffffff none repeat scroll 0 0;
            border-radius: 2px;
            margin: 10px auto 30px;
            max-width: 38%;
            padding: 50px 70px 70px 71px;
        }

        .login-form .btn.btn-primary {
            background: #f0ad4e none repeat scroll 0 0;
            border-color: #f0ad4e;
            color: #ffffff;
            font-size: 14px;
            width: 100%;
            height: 50px;
            line-height: 50px;
            padding: 0;
        }

    </style>

    <div class="container">
        <div class="login-form">
            <div class="main-div">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey }}
                    </div>
                {% endif %}

                <h5>Please sign in!</h5>
                <form id="Login" action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputEmail" name="_username"
                               value="{{ last_username }}" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" name="_password" value="" class="form-control" id="inputPassword"
                               placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
