{% extends 'base.html.twig' %}

{% block body %}
    <div class="container articleHomePage">
        <div class="row">

            {% if data %}

                {% for article in data %}
                    <div class="col-6 col-md-3">
                        <div class="card" style="text-align: center;">
                            <img class="card-img-top" src="{{ asset('img/download.svg') }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.title }}</h5>
                                <a href="show/{{ article.slug }}" class="btn btn-outline-primary btn-sm">Read more</a>
                                {% if app.user %}
                                    <a href="edit_article/{{ article.slug }}" class="btn btn-outline-secondary btn btn-sm"><i class="fas fa-edit"></i></a>
                                    <a href="#" data-slug="{{ article.slug }}" class="btn btn-outline-danger btn-sm" data-target=""><i class="fas fa-trash"></i></a>
                                {% endif %}
                            </div>
                            <div class="card-footer text-muted">
                                {{ article.createdAt ? article.createdAt|date('d-m-Y') : 'Not found'}}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <p>Nothing to show</p>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}