{% extends 'base.html.twig' %}

{% block body %}
    {% if article %}

        <div class="container" data-slug="{{ article.slug }}">
            <div class="row">
                <div>
                    {{ article.title }} |

                    <a href="{{ path('app_toggle_like', {slug: article.slug}) }}" class="like-article">
                        {% if app.user %}
                            {% if userLiked %}
                                <i class="article-like-icon far fa-thumbs-up"></i>
                            {% else %}
                                <i class="article-like-icon fas fa-thumbs-up"></i>
                            {% endif %}
                        {% endif %}
                    </a>
                    <span class="like-counter">{{ likes }}</span>
                </div>
                <hr>
                <div>
                    {{ article.content }}
                    <hr>
                </div>

                <div class="list-group">
                    {% for comment in comments %}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="width: 702px">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">{{ comment.username }}</h6>
                                {#<small>3 days ago</small>#}
                            </div>
                            <p class="mb-1">{{ comment.comment }}</p>
                        </a>
                    {% endfor %}
                </div>

                {% if app.user %}
                    <div class="new-comments">
                       <div class="form-group">
                           <label for="exampleInputPassword1">Add your comment</label>
                           <textarea class="form-control new-comment" name="" id="" cols="95" rows="" placeholder="Comment" required></textarea>
                       </div>
                       <button class="btn btn-primary comment-add">Send</button>
                   </div>
                {% endif %}
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}