{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        /*.active { background: purple; }*/
    </style>
{% endblock %}

{% block body %}

    <button id="js-add-user" style="display: none;"></button>
    <section style="margin-top:50px">
        current user is {{ app.user.username }}
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header js-users-table">
                            Users
                        </div>
                        <ul class="list-group list-group-flush" id="js-user-list">
                            {% for user in users %}
                                {% if user.username != app.user.username %}
                                <li class="list-group-item" data-id="{{ user.username }}">
                                    {{ user.username }}
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="card chat-card">
                        <h5 class="card-header">Live Chat</h5>
                        <div class="card-body">
                            <div id='js-messages-container'></div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">New message</span>
                                </div>
                                <textarea class="form-control" aria-label="With textarea" placeholder="Your message"
                                          id='js-msgArea'>
                                    </textarea>
                            </div>
                            <hr>
                            <a href="#" class="btn btn-outline-primary align-middle" id='js-send-msg'>
                                Send message
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/socket.io-client/dist/socket.io.js') }}"></script>
    <script>
        $(function () {

            const socket    = io(location.hostname + ':3000');
            const sendBtn   = $('#js-send-msg');
            const messCont  = $('#js-messages-container');
            let msgText     = $('#js-msgArea');

            sendBtn.on('click', (e) => {
                e.preventDefault();
                let selected = $('#js-user-list').find('.active').data('id');
                if (selected) {
                    socket.emit('sendmessage', ('@' + selected + ' ' +msgText.val()).trim(), function(data){
                        messCont.append('<span class="error"><b>'+data+"</span><Br>");
                    });
                    messCont.append('<span style="float: right" class="whisper badge badge-secondary">'+msgText.val()+"</span><Br>");
                    msgText.val("");
                } else {
                    alert('user not selected')
                }
            });

            socket.on('usernames',function(data){

                let userNames = [];
                $('#js-user-list').each(function(){
                    $(this).find('li').each(function(){
                        userNames.push($(this).data('id'))
                    });
                });


                $('#js-user-list').find('.list-group-item span').remove();
                for (let i = 0; i < data.length; i++) {
                    if (userNames.includes(data[i])) {
                        $('#js-user-list').find('[data-id='+data[i]+']').append('<span class="badge badge-success pull-right">Active</span>');
                    }

                }

            });

            socket.on('whisper',function(data){
                messCont.append('<span class="whisper badge badge-secondary">'+data.msg+"</span><br>");
                // messCont.append('<span class="whisper badge badge-primary"><b>'+data.nick+': </b>'+data.msg+"</span><br>");
            })

            // socket.on('new message', data => {
            //     messCont.append(`
            //             <p class="card-text">
            //                 <strong>
            //                     ${data.user}
            //                 </strong>
            //                 ${data.msg}
            //             </p>
            //             <hr>
            //         `);
            // });



            $('#js-add-user').on('click', (e) => {
                socket.emit('new user', '{{ app.user.username }}', data => {

                });
            });

            $('#js-add-user').trigger('click');

            msgText.bind('keypress', () => {
                let selected = $('#js-user-list').find('.active').data('id');
                socket.emit('typing', [selected, '{{ app.user.username }}'])

            });

            socket.on('typing', data => {
                messCont.find('span.typing').remove();
                messCont.append('<span class="typing help-text">'+data.username+' is typing..</span>');
                setTimeout(() => {
                    messCont.find('span.typing').remove();
                }, 600);
            });











            $('.list-group-item').on('click', e => {
                let el = $(e.currentTarget);
                el.parent('ul').children('li').removeClass('active');
                el.addClass('active');
                let id = el.data('id');
                // console.log(id)
            })

        });

    </script>

{% endblock %}